.invalid{
    background-color:indianred;
}
.error {
    color: red;
    background-color: rgb(224, 168, 168);
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: 3rem;
    padding-right: 3rem;
}
.error-md {
    color: red;
    background-color: rgb(224, 168, 168);
    text-align: center;
    font-weight: bolder;
    padding-left: 3rem;
    padding-right: 3rem;
}